@tailwind base;
@tailwind components;
@tailwind utilities;


.hero_bg {
    background-image: url("../src/image/bg_image.jpg");
    height: 600px;
    background-position: center;
    background-size: cover;
    position: relative;
   }

   .about_bg {
    background-image: url("../src/image/about_bg.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
  
   }

